@using System.Threading.Tasks
@using SpyStore.MVC.Models.ViewModels
@model CartRecordViewModel
<form asp-controller="Cart" asp-action="Update" asp-route-customerId="@Model.CustomerId" asp-route-id="@Model.Id" id="updateCartForm" method="post">
    @*<div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>*@
    <span asp-validation-for="Quantity" class="text-danger"></span>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="CustomerId" />
    <input type="hidden" asp-for="CategoryName" />
    <input type="hidden" asp-for="Description" />
    <input type="hidden" asp-for="UnitsInStock" />
    <input type="hidden" asp-for="ModelName" />
    <input type="hidden" asp-for="ModelNumber" />
    <input type="hidden" asp-for="TimeStamp" />
    <input type="hidden" asp-for="ProductId" />
    <input type="hidden" asp-for="LineItemTotal" />
    <input type="hidden" asp-for="CurrentPrice" />
    <input type="number" asp-for="Quantity" class="cart-quantity" />
    <button class="btn btn-link btn-sm">Update</button>
</form>
<form asp-controller="Cart" asp-action="Delete" asp-route-customerId="@Model.CustomerId" asp-route-id="@Model.Id" id="deleteCartForm" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="TimeStamp" />
    <button class="btn btn-link btn-sm">Remove</button>
</form>